body {
	background-color: #131313;
}

.web-logo {
	width: 10vw;
	height: 10vh;
	animation: logo-anim 2s ease 0s 1 normal forwards;
}

.navbar-brand {
	transition: transform 2s;
}

.navbar-brand:hover {
	transform: scale(1.05);
}

.repository {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	transition: transform 2s;
}

.repository:hover {
	transform: scale(1.2);
}

.imgGit {
	aspect-ratio: 1/1;
	width: 8vw;
	animation: slideIn 2s;
	background: #131313;
	border-color: #615f5f;
	transition: transform 2s;
	margin-right: 1vw;
}



.linkGit {
	align-self: center;
	text-decoration: none;
	color: rgb(206, 207, 208);
	animation: slideX 2s;
	font-size: 1.2em;
	font-family: Roboto, Arial;
	transition: transform 1s;
}

.linkGit:hover {
	color: rgb(87, 142, 206);
}



#title {
	animation: slideY 2s;
}

#myElipse {
	animation: zoom 2s;
}

.nav-item::after {
	position: absolute;
	content: "";
	width: 85px;
	height: 2px;
	border-radius: 5%;
	left: 1;
	margin-left: 1%;
	transition: transform 0.8s;
	transform: scaleX(0);
	transform-origin: right;
	background-color: gray;
}

.nav-item:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}


@keyframes logo-anim {
	0% {
		opacity: 0;
		transform: rotateY(-70deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}

@keyframes slideIn {
	0% {
		transform: rotate3d(10, 0, 0, 180deg);
	}

	100% {
		transform: rotate3d(0, 0, 0, 0);
	}
}

@keyframes slideX {
	0% {
		transform: translateX(10%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slideY {
	0% {
		transform: translateY(120%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes zoom-in {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.05);
	}
}

@keyframes zoom-out {
	0% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
	.web-logo {
		width: 50vw;
		height: 10vh;
	}

	video {
		margin-top: 5vh;
		width: 100%;
	}

	.imgGit {
		width: 10vw;
	}
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
	.web-logo {
		width: 30vw;
		height: 10vh;
	}

	video {
		margin-top: 5vh;
		width: 100%;
	}

	.imgGit {
		width: 10vw;
	}

}