body {
	background-color: #131313;
}

.web-logo {
	width: 10vw;
	height: 10vh;
	animation: logo-anim 2s ease 0s 1 normal forwards;
}

.navbar-brand {
	transition: transform 2s;
}

.navbar-brand:hover {
	transform: scale(1.05);
}



.imgGit {
	animation: slideIn 2s;
	background-color: #615f5f;
	border-color: #615f5f;
}

.linkGit {
	animation: slideX 2s;
	font-size: 1.2em;
	font-family: "Arial Narrow";
}

#title {
	animation: slideY 2s;
}

#myElipse {
	animation: zoom 2s;
}

.nav-item::after {
	position: absolute;
	content: "";
	width: 85px;
	height: 2px;
	border-radius: 5%;
	left: 1;
	margin-left: 1%;
	transition: transform 0.8s;
	transform: scaleX(0);
	transform-origin: right;
	background-color: gray;
}

.nav-item:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}





@keyframes logo-anim {
	0% {
		opacity: 0;
		transform: rotateY(-70deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}

@keyframes slideIn {
	0% {
		transform: rotate3d(10, 0, 1, 15deg);
	}

	100% {
		transform: rotate3d(0, 0, 0, 0);
	}
}

@keyframes slideX {
	0% {
		transform: translateX(150%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slideY {
	0% {
		transform: translateY(120%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes zoom-in {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.05);
	}
}

@keyframes zoom-out {
	0% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
	.web-logo {
		width: 50vw;
		height: 10vh;
	}

	video {
		margin-top: 5vh;
		width: 100%;
	}
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
	.web-logo {
		width: 30vw;
		height: 10vh;
	}

	video {
		margin-top: 5vh;
		width: 100%;
	}
}